#wrapper {
    width:100%;
    overflow:hidden;
}

.content {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 300px;
    right: 300px;
    transition: left 0.5s, right 0.5s;
}

.content.lclosed {
    left: 25px;
}

.content.rclosed {
    right: 25px;
}

.sidebar {
    top: 70px;
    bottom: 0;
    width:300px;
    transition: margin-left 0.5s, margin-right 0.5s;
}
.left {
    float: left;
}
.right {
    float: right;
}
.left.closed {
    margin-left: -50px;
}
.right.closed {
    margin-right: -50px;
}
