:root {
    --lwidth: 300px;
    --rwidth: 600px;
    --barwidth: 25px;
};

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: var(--lwidth);
    right: var(--rwidth);
    transition: left 0.5s, right 0.5s;
}

.content.lclosed {
    left: 0px;
}

.content.rclosed {
    right: 0px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: margin-left 0.5s, margin-right 0.5s;
}
.left {
    width: calc(var(--lwidth) - var(--barwidth));
    float: left;
}
.right {
    width: var(--rwidth);
    float: right;
}
.left.closed {
    margin-left: -var(--lwidth);
}
.right.closed {
    margin-right: -var(--rwidth);
}

.dragbar {
    background-color:black;
    height:100%;
    width: var(--barwidth);
    cursor: col-resize;
}

.dragbar.left {
    float: right;
}

.dragbar.right {
    float: left;
}
